body {
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  background-color: black;
}

ul {
  list-style-type: none;
  color: rgba(175, 173, 173, 0.644);
  font-weight: bolder;
  margin-top: 5px;
}

h1 {
  color: rgba(252, 249, 249, 0.815);
  margin-top: 5px;
  margin-left: 14px;
  font-weight: normal;
}

h2 {
  color: rgba(252, 249, 249, 0.815);
  font-size: 14px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  padding-top: 0;
}

h3 {
  font-size: 12px;
}

h4 {
  font-size: 40px;
  margin-top: 140px;
  margin-bottom: 20px;
  color: rgba(252, 249, 249, 0.815);
}

h5 {
  color: rgba(175, 173, 173, 0.644);
  font-size: 14px;
  margin-top: 0;
  /*font-weight:normal;*/
}

.coluna-esquerda {
  background-color: black;
  width: 230px;
  height: 500px;
  margin-top: -10px;
}

.inicio li {
  margin-left: -25px;
  display: flex;
  flex-wrap: wrap;
}

.inicio p {
  margin-top: 4px;
  margin-left: 10px;
}

.material-icons-sharp {
  margin-bottom: -15px;
  height: 24px;
}

.criar {
  margin-top: 30px;
}

.criar a {
  display: flex;
  text-decoration: none;
  color: rgba(175, 173, 173, 0.644);
}

.inicio a {
  display: flex;
  text-decoration: none;
  color: rgba(175, 173, 173, 0.644);
}

a:hover {
  color: rgba(252, 249, 249, 0.904);
  transition: 0.5s;
  cursor: pointer;
}

.criar li {
  margin-left: -25px;
  display: flex;
  flex-wrap: wrap;
}

.criar p {
  margin-top: 4px;
  margin-left: 10px;
}
.linha {
  width: 200px;
  height: 0;
  border-top: 2px solid;
  border-color: rgba(175, 173, 173, 0.644);
  margin-left: 15px;
}

.playlists li {
  font-size: 12px;
  margin-left: -25px;
  margin-top: 15px;
}

.coluna-principal {
  background-color: rgba(175, 173, 173, 0.25);
  width: 800px;
  height: auto;
  padding-bottom: 0px;
  margin-top: -10px;
}

.voltar {
  margin-top: 10px;
  margin-left: 10px;
  color: rgba(170, 169, 169, 0.644);
}

.perfil {
  margin-left: 700px;
  margin-top: -30px;
}

.perfil img {
  width: 25px;
  height: 25px;
}

.perfil h3 {
  margin-top: -25px;
  margin-left: 0;
  color: rgba(170, 169, 169, 0.644);
}

.foto-capa {
  display: flex;
}

.foto-capa img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 50px;
}

.foto-capa li {
  margin-top: -10px;
  font-size: 12px;
  color: rgba(252, 249, 249, 0.815);
}

.foto-capa li img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 0;
  margin-top: -10px;
  margin-bottom: -5px;
}

.play-pause-baixar-buscar {
  width: 780px;
  height: 80px;
  /*background-color: pink;*/
  margin-left: 10px;
}

/*
.play a {
  color: rgb(105, 207, 105);
  margin-left: 50px;
  
}

.play a:hover {
  color:rgba(252, 249, 249, 0.815);
  transition: .5s;
  cursor: pointer;
  box-shadow: none;
  
}
*/

.indicador-titulo-album {
  width: 650px;
  height: 30px;
  /*background-color: lightblue;*/
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.indicador-titulo-album .material-icons-sharp {
  color: rgba(175, 173, 173, 0.644);
  margin-top: -5px;
}

.linha2 {
  width: 700px;
  height: 0;
  border-top: 1px solid;
  border-color: rgba(175, 173, 173, 0.644);
  margin-left: 40px;
  margin-top: -10px;
}

.musicas {
  width: 780px;
  height: 300px;
  /*background-color: lightgreen;*/
  margin-left: 50px;
}

table {
  width: 730px;
  height: auto;
  align-content: left;
}

td {
  width: auto;
  height: auto;
}

td a {
  text-decoration: none;
  color: rgba(175, 173, 173, 0.644);
}

table img {
  margin-left: 0;
  margin-top: -10px;
  border-radius: 0;
}

table h5 {
  margin-right: 0;
}

table ul {
  color: rgba(175, 173, 173, 0.644);
  font-weight: normal;
  margin-left: -90px;
}

table p {
  color: rgba(175, 173, 173, 0.644);
  font-weight: normal;
  margin-left: 0px;
}

.coluna-direita {
  background-color: black;
  width: 215px;
  height: 500px;
  margin-top: -10px;
}

.coluna-direita .material-icons-sharp {
  color: rgba(175, 173, 173, 0.644);
  margin-left: 10px;
  margin-top: 15px;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: -25px;
  margin-top: 10px;
}

.dados-amigos {
  margin-left: 30px;
  margin-top: -60px;
}

.dados-amigos p {
  font-size: 12px;
  font-weight: normal;
  margin-top: -10px;
}

.fixa {
  position: fixed;
  bottom: 0;
  background-color: rgba(36, 35, 35, 0.952);
  margin-left: -10px;
  width: 3000px;
  height: 100px;
}

.tocando-agora {
  display: flex;
  margin-left: 10px;
}

.tocando-agora img {
  border-radius: 0;
  width: 70px;
  height: 70px;
  margin-left: 5px;
}

.tocando-agora ul {
  margin-left: -30px;
  color: rgba(252, 249, 249, 0.815);
  margin-top: 30px;
}

.tocando-agora p {
  font-size: 12px;
  font-weight: normal;
  color: rgba(175, 173, 173, 0.644);
  margin-top: 0;
}
